# Pandas: Una poderosa herramienta para análisis de datos

Romina Cofré. 2018

## Libreria

In [1]:
# Importar libreria pandas con alias pd 
import pandas as pd

La versión de Pandas utilizada, es la 0.23.0

In [2]:
# Version de Pandas que he utilizado
pd.__version__

'0.23.0'

## Estructuras de datos

La estructura de dats que utiliza pandas es un DataFrame

In [4]:
df = pd.DataFrame({'AAA' : [4,5,6,7], 'BBB' : [10,20,30,40],'CCC' : [100,50,-30,-50]});

In [5]:
df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

O podemos asignarle una variable que contiene un diccionario con anterioridad.

In [8]:
d = {'col1': [1, 2], 'col2': [3, 4]}

In [9]:
df = pd.DataFrame(data=d)

In [11]:
df

   col1  col2
0     1     3
1     2     4

In [17]:
#una lista...
L = [1,2,3,4]
df = pd.DataFrame(data=L)

In [18]:
df

   0
0  1
1  2
2  3
3  4

Quizás una lista no es muy útil para todo el potencial que aprenderemos con Pandas.

### Tipos de datos

In [12]:
df.dtypes

col1    int64
col2    int64
dtype: object

Para cambiar el tipo de datos: